name: Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    environment: playground
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::933841849165:role/github-actions
          aws-region: us-west-2

      - name: Deploy
        uses: DefangLabs/defang-github-action@v1.3.0
        with:
          stack: production
          provider: aws
        env:
          AWS_REGION: us-west-2
